*{
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.container{
    margin-bottom: 0px;
}
.form-group{
    display: inline-block;
}

/*From net*/
